$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$color-floral: floralwhite;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0px, 0px);
}

.row-content {
  @include zero-margin(50px, 0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 45px;
    width: 45px;
    background-position: center;
    background-size: 20px;
    background-color: #00000086;
    border-radius: 50%;
  }

  .carousel-caption {
    text-shadow: 2px 2px 10px #0f0f0f;
  }
}

#carouselButton {
  position: absolute;
  right: calc(50% - 50px);
  bottom: calc(50% - 50px);
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00000016;
  border-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  &:hover {
    background-color: #00000086;
    border-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
}

.modal {
  .modal-header {
    background-color: $background-dark;

    .modal-title {
      color: $color-floral;
    }
    button {
      color: $color-floral;
    }
  }

  .modal-body {
    background-color: $background-pale;
  }
}
